# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://fkffeemwflechywrmnlv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZrZmZlZW13ZmxlY2h5d3Jtbmx2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY2Mzg1MzcsImV4cCI6MjA3MjIxNDUzN30.Mf5z7GfCJ1NnyvFcQbGAtUkMEsyMnFcumHHWNu-FtLo
SUPABASE_SERVICE_ROLE_KEY=r5iymaFUTV0#CHoc

# Database Configuration (Prisma) - Direct connection
DATABASE_URL="postgresql://postgres.fkffeemwflechywrmnlv:r5iymaFUTV0#CHoc@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"

# Connection pooling (for production)
# DATABASE_URL="postgresql://postgres.fkffeemwflechywrmnlv:r5iymaFUTV0#CHoc@aws-1-eu-central-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://postgres.fkffeemwflechywrmnlv:r5iymaFUTV0#CHoc@aws-1-eu-central-1.pooler.supabase.com:5432/postgres"

# Environment
NODE_ENV=development
